version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: ticketchief-rabbitmq
    ports:
      - "5672:5672"    # AMQP
      - "15672:15672"  # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "check_running"]
      interval: 5s
      timeout: 3s
      retries: 10

  event-ticket:
    build:
      context: ./services/event-ticket
    container_name: event-ticket
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      - AMQP_URL=amqp://guest:guest@rabbitmq:5672/
      - SERVICE_PORT=3001
    ports:
      - "3001:3001"

  user:
    build:
      context: ./services/user
    container_name: user-service
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      - AMQP_URL=amqp://guest:guest@rabbitmq:5672/
      - SERVICE_PORT=3002
    ports:
      - "3002:3002"

networks:
  default:
    name: ticketchief-net